#nav {
  background: transparent;
  box-shadow: none;
}

html {
  background-image: url("banner3.png");
  background-size: auto 150vh;
}

.button {
  background-color: transparent;
  border: 1px white solid;
  padding: 10px;
  border-radius: 3px;
  color: white;
  box-shadow: none;
}

.button:hover {
  background-color: white;
  color: rgb(216, 98, 84);
}

.fillh {
  width: 100vw;
}

.center {
  margin: auto
}

h1 {
  color: white;
}

/* label color */
   .input-field label {
     color: #fff;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #fff;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #fff;
     box-shadow: 0 1px 0 0 #fff;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #fff;
     box-shadow: 0 1px 0 0 #fff;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #fff;
     box-shadow: 0 1px 0 0 #fff
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #fff;
   }


   .wire {
     background: transparent;
     border-top: 1px white solid;
     border-bottom: 1px white solid;
     color: white;
   }

   .tab {
     color: white;
   }


   .picker__date-display {
     background-color: rgb(216, 98, 84);
   }

   .picker__weekday-display {
     background-color: rgb(209, 71, 59);
   }

   .opp-card {
     padding: 20px;
     margin-top: 20px;
   }
