<!DOCTYPE html>
<html ng-app="dashboard">
  <head>
    <meta charset="utf-8">
    <title>Sieze It - Student Dashboard</title>
    <link rel="icon" href="images/favicon.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="js/index.js" charset="utf-8"></script>
    <script src="js/studentdash.js" charset="utf-8"></script>
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body ng-controller="ctrl" ng-init="opportunities = []; ">
    <nav id="nav">
    <div class="nav-wrapper container" >
      <a href="#" class="brand-logo">Seize It</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#" ng-click="logout()">Sign Out</a></li>
      </ul>
    </div>
  </nav>
  <div class="row">
    <div class="col s12 m8 l8 offset-m2 offset-l2">
      <h1>Dashboard</h1>
      <br>
      <a href="#" class="button" ng-click="compile()">compile internships</a>
      <div ng-repeat="x in opportunities" class="card" ng-click="email(x)">
        <h4>{{x.projName}}</h4>
        <p>
          {{x.prof}}, {{x.dept}} {{x.univ}}
          contact: {{x.email}}
        </p>
        <p>
          starts: {{x.start}}
          ends: {{x.end}}
          minimum GPA: {{x.gpa}}

          {{x.desc}}
        </p>

      </div>
    </div>
  </div>
  </body>
</html>
